<div class="grid">
  <div class="col-12">
    <div class="ml-4 mt-4 flex flex-column">
    <div class="flex flex-row">
      <button pButton pRipple icon="pi pi-arrow-left" class="p-button-text p-button-primary mr-2 border-top-1 border-bottom-1 border-primary border-noround" (click)="backClicked()"></button>
      <span class="text-3xl font-medium">{{projectDetails.name}}</span>
    </div>
    <div class="flex flex-column mt-3">
      <p class="text-base font-light m-0 p-0">End of sprint: {{date}}</p>
      <p class="text-base font-light m-0 p-0">Iteration: {{projectDetails.sprintNumber}}</p>
    </div>
    <div class="mt-3">
      <button pButton pRipple label="New task" icon="pi pi-plus" class="p-button-outlined p-button-success mr-2" (click)="openNew()" [disabled]="!(basicData.position?.toString() == 'MANAGER' || basicData.position?.toString() == 'TEAM_LEADER')"></button>
    </div>
  </div>
    <div class="flex flex-row no-wrap justify-content-evenly align-items-stretch">
      <div *ngFor="let taskGroup of taskGroups;" style="width: 12.5%;" class="my-4">
      <p-fieldset legend="{{taskGroup.workflowDTO?.name}}" [style]="{height:'100%'}">
        <p-card *ngFor="let task of taskGroup.tasks;" class="mb-2" (click)="clickTask(task)" [style]="{
          border: '2px solid #333333',
          borderRadius: '5px',
          'box-shadow': '3px 3px 10px #111',
          padding: '10px',
          margin:'0px 0px 10px 0px',
          cursor: 'pointer'
      }">
          <ng-template pTemplate="header">
            <div class="flex flex-row justify-content-between">
            <div>
              <p>{{projectDetails.key}}-{{task.key}}</p>
            </div>
            <div class="flex flex-row justify-content-center align-items-center">
              <p class="mr-1">{{task.taskType?.name}}</p>
              <i class="pi {{task.taskType?.icon}}" [ngStyle]="{color: task.taskType?.color}"></i>
            </div>
          </div>
          </ng-template>
          <ng-template pTemplate="content">
          <div style="margin-top: -15%;">
            <p class="text-lg font-semibold text-left">{{task.name}}</p>
          </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="flex flex-row justify-content-between" style="margin-top: -5%;">
              <div class="flex flex-row justify-content-center align-items-center">
                <div *ngIf="task.person">
                  <img id="projectPhoto" src="data:image/png;base64,{{task.person.photo}}" onerror="this.src='../../../assets/img/defaultProjectImage.png';" class="shadow-4 mr-2" style="width: 35px; height:35px; border-radius:4px" />
                </div>
                <div class="flex flex-column justify-content-start align-items-start" *ngIf="task.person">
                  <p class="m-0 p-0">{{task.person.firstName}}</p>
                  <p class="m-0 p-0">{{task.person.lastName}}</p>
                </div>
              </div>
              <div class="flex flex-row justify-content-center align-items-center">
                {{task.storyPoints}}
              </div>
            </div>
          </ng-template>
      </p-card>
    </p-fieldset>
    </div>
    </div>
  </div>
  <p-dialog [(visible)]="createTaskDialog" [style]="{width: '450px'}" header="Create task" [modal]="true" class="p-fluid" [closable]="false">
    <ng-template pTemplate="content">
      <div class="flex flex-column align-items-center justify-content-center">
        <div class="field w-full">
          <label htmlFor="name2">Title</label>
          <input type="text" pInputText id="name" [(ngModel)]="task.name"/>
        </div>
        <div class="field w-full">
          <label htmlFor="name2">Stroy points</label>
          <input type="number" pInputText id="name" [(ngModel)]="task.storyPoints" min="1" max="100" step="1"/>
        </div>
        <div class="field w-full">
          <label for="points">Task type</label>
          <p-dropdown appendTo="body" [options]="taskTypes" [(ngModel)]="task.taskType" [showClear]="true" placeholder="Select task type">
            <ng-template pTemplate="selectedItem">
              <div class="item flex flex-row justify-content-start align-items-center" *ngIf="task.taskType" >
                  <i class="pi {{task.taskType.icon}} mr-1" [ngStyle]="{color: task.taskType.color}"></i>
                  {{task.taskType.name}}
              </div>
          </ng-template>
          <ng-template let-taskType pTemplate="item">
            <div class="flex flex-row justify-content-start align-items-center">
              <i class="pi {{taskType.icon}} mr-1" [ngStyle]="{color: taskType.color}"></i>
              {{taskType.name}}
            </div>
          </ng-template>
          </p-dropdown>
        </div>
        <div *ngIf="editingTask" class="field w-full">
          <label for="points">Workflow</label>
          <p-dropdown appendTo="body" [options]="workflow" [(ngModel)]="task.workflow" [showClear]="false" placeholder="Select task type">
            <ng-template pTemplate="selectedItem">
              <div class="item flex flex-row justify-content-start align-items-center" *ngIf="task.workflow" >
                  {{task.workflow.name}}
              </div>
          </ng-template>
          <ng-template let-workflow pTemplate="item">
            <div class="flex flex-row justify-content-start align-items-center">
              {{workflow.name}}
            </div>
          </ng-template>
          </p-dropdown>
        </div>
        <div class="field w-full">
          <label for="points">Assignee</label>
          <p-dropdown appendTo="body" [options]="personsInProject" [(ngModel)]="task.person" [showClear]="true" placeholder="Select assignee">
            <ng-template pTemplate="selectedItem">
              <div class="item" *ngIf="task.person">
                <div class="flex align-items-center">
                  <img id="leadPhoto" src="data:image/png;base64,{{task.person.photo}}" onerror="this.src='../../../assets/img/user.png';" class="shadow-4 mr-2" style="width: 30px; height:30px; border-radius:100%" />
                  {{task.person.firstName}}
                  {{task.person.lastName}}
                </div>
              </div>
          </ng-template>
          <ng-template let-person pTemplate="item">
            <div class="flex align-items-center">
              <img id="leadPhoto" src="data:image/png;base64,{{person.photo}}" onerror="this.src='../../../assets/img/user.png';" class="shadow-4 mr-2" style="width: 30px; height:30px; border-radius:100%" />
              {{person.firstName}}
              {{person.lastName}}
            </div>
          </ng-template>
          </p-dropdown>
        </div>
        <div class="field w-full h-full">
          <label htmlFor="email2">description</label>
          <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="task.description"></textarea>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTask()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="infoDialog" [style]="{width: '450px'}" [modal]="true" class="p-fluid" [closable]="false">
  <ng-template pTemplate="header">
    <div class="flex flex-row justify-content-between align-items-center w-full">
    <div>
      <span>{{projectDetails.key}}-{{infoTask.key}}</span>
    </div>
    <div>
      <span>{{infoTask.storyPoints}} SP</span>
    </div>
    <div>
      <p-dropdown appendTo="body" [options]="workflow" [(ngModel)]="selectedWorkflow" [showClear]="false" (ngModelChange)="searchSubject.next($event)">
        <ng-template pTemplate="selectedItem">
          {{selectedWorkflow.name}}
      </ng-template>
      <ng-template let-workflow pTemplate="item">
        {{workflow.name}}
      </ng-template>
      </p-dropdown>
    </div>
    <div class="flex flex-row justify-content-end align-items-center">
      {{infoTask.taskType?.name}}
      <i class="pi {{infoTask.taskType?.icon}} ml-1" [ngStyle]="{color: infoTask.taskType?.color}"></i>
    </div>
    </div>
  </ng-template>

  <ng-template pTemplate="content">
    <div>
    <div>
      <p class="text-3xl font-semibold text-left m-0 p-0">{{infoTask.name}}</p>
    </div>
    <div>
      <div class="mt-4">
        <p class="text-lg font-bold text-left m-0 p-0">assigned to:</p>
      </div>
    <div class="flex flex-row justify-content-start align-items-center">
      <div *ngIf="infoTask.person">
        <img id="projectPhoto" src="data:image/png;base64,{{infoTask.person.photo}}" onerror="this.src='../../../assets/img/defaultProjectImage.png';" class="shadow-4 mr-2 mt-1" style="width: 35px; height:35px; border-radius:100%" />
      </div>
        <p class="mr-1 p-0">{{infoTask.person?.firstName}}</p>
        <p class="m-0 p-0">{{infoTask.person?.lastName}}</p>
    </div>
  </div>
  <div class="mt-4">
    <div>
      <p class="text-lg font-bold text-left m-0 p-0">description:</p>
    </div>
    <div>
      <p class="m-0 p-0 mt-2 text-justify">{{infoTask.description}}</p>
    </div>
  </div>
  </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex flex-row justify-content-between align-items-center w-full">
      <div style="margin-left: -12px;">
        <button pButton pRipple label="reject" icon="pi pi-trash" class="p-button-text p-button-danger" (click)="deleteTask()" [disabled]="!(basicData.position?.toString() == 'MANAGER' || basicData.position?.toString() == 'TEAM_LEADER')"></button>
        <button pButton pRipple label="edit" icon="pi pi-pencil" class="p-button-text p-button-warning" (click)="editTask()" [disabled]="!(basicData.position?.toString() == 'MANAGER' || basicData.position?.toString() == 'TEAM_LEADER')"></button>
      </div>
      <div>
        <button pButton pRipple label="Ok" icon="pi pi-check" class="p-button-text" (click)="hideDialog()" style="margin-right: -8px;"></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="deletingTask" header="Confirm" [modal]="true" [style]="{width:'400px'}">
  <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="task">Are you sure you want to delete <b>{{infoTask.name}}</b>?</span>
  </div>
  <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletingTask = false"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
  </ng-template>
</p-dialog>
</div>

