#person{
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
}
.header{
  z-index:100;
}
.layout-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: 1px solid var(--surface-border);
}
