<div class="flex align-items-center justify-content-start border-bottom-1 border-primary sticky top-0 header surface-ground" >
  <p-button (click)="sidebarVisible = true" icon="pi pi-bars" [text]="true"></p-button>
  <div>
    <img src="/assets/img/logoSmol.png" alt="image" class="logo">
  </div>
  </div>
    <p-sidebar [(visible)]="sidebarVisible">
      <ng-template pTemplate="header">
        <img src="/assets/img/logoSmol.png" alt="image" class="logo" style="width: 70%;">
      </ng-template>
      <ng-template pTemplate="content">
      <div class="flex flex-column align-items-center justify-content-between border-top-1 border-primary pt-4">
        <img id="person" src="data:image/png;base64,{{basicData.photo}}" onerror="this.src='../../../assets/img/user.png';" class="shadow-4" style="width: 200px; height:200px; border-radius:100%" />
      <div class="flex align-items-center justify-content-center">
        <h2 class="mr-2">{{basicData.firstName}}</h2>
        <h2>{{basicData.lastName}}</h2>
      </div>
      <div class="flex align-items-center justify-content-center" style="margin-top: -30px;">
        <p class="mr-2 text-lg">{{basicData.experience}}</p>
        <p class="text-lg">{{basicData.position}}</p>
      </div>
      <div class="flex flex-column align-items-center primary">
        <p-button label="Time tracker" icon="pi pi-clock" [text]="true" [style]="{'width':'300px'}" class="mb-2 border-top-1 border-bottom-1 border-primary" routerLink="/home/timetracker"></p-button>
        <p-button label="Reports" icon="pi pi-chart-bar" [text]="true" [style]="{'width':'300px'}" class="mb-2 border-top-1 border-bottom-1 border-primary" routerLink="/home/reports"></p-button>
        <p-button label="Projects" icon="pi pi-desktop" [text]="true" [style]="{'width':'300px'}" class="mb-2 border-top-1 border-bottom-1 border-primary" routerLink="/home/projects"></p-button>
        <p-button label="Employees" icon="pi pi-user" [text]="true" [style]="{'width':'300px'}" class="mb-2 border-top-1 border-bottom-1 border-primary" routerLink="/home/employees" [disabled]="basicData.position?.toString() != 'MANAGER'"></p-button>
      </div>
      </div>
    </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex flex-column align-items-center justify-content-between">
        <p-button label="Sign out" icon="pi pi-sign-out" [text]="true" [style]="{'width':'300px'}" class="mb-2 border-top-1 border-bottom-1 border-primary m-auto" (onClick)="logout()"></p-button>
      </div>
      </ng-template>
</p-sidebar>
<div style="min-height: 88.5vh;">
<router-outlet></router-outlet>
</div>
<footer class="flex flex-column align-items-center justify-content-center border-top-1 border-primary">
  <div class="mt-3">
  <span>Application was made by<span class="font-medium ml-2">Michał Witczak</span> </span>
</div>
</footer>
