<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <div class="my-2">
                      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-outlined p-button-success mr-2" (click)="openNew()"></button>
                      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-outlined p-button-danger mr-2" (click)="deleteSelectedProducts()" [disabled]="!selectedEmployee || !selectedEmployee.length"></button>
                      <button pButton pRipple label="Reset password" icon="pi pi-refresh" class="p-button-outlined p-button-warning" (click)="resetPassword()" [disabled]="!selectedEmployee || !selectedEmployee.length"></button>
                  </div>
      <p-table #dt [value]="employees" [columns]="cols" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['firstName','experience','position','hourlyPay','workDuringWeekInHours']" [paginator]="true"
        [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedEmployee"
        selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
            <th>Image</th>
            <th pSortableColumn="firstName">First name<p-sortIcon field="firstName"></p-sortIcon></th>
            <th pSortableColumn="lastName">Last name<p-sortIcon field="lastName"></p-sortIcon></th>
            <th>E-mail</th>
            <th>Phone</th>
            <th pSortableColumn="experience">Experience<p-sortIcon field="experience"></p-sortIcon></th>
            <th pSortableColumn="position">Position<p-sortIcon field="position"></p-sortIcon></th>
            <th pSortableColumn="hourlyPay">Pay/H<p-sortIcon field="hourlyPay"></p-sortIcon></th>
            <th pSortableColumn="workDuringWeekInHours">Work H/week<p-sortIcon field="workDuringWeekInHours"></p-sortIcon></th>
            <th>temporary password</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
          <tr class="">
            <td>
              <p-tableCheckbox [value]="employee"></p-tableCheckbox>
            </td>
            <td style="width:5%;"><span class="p-column-title">Id</span>
              {{employee.id}}
            </td>
            <td style="width:10%;"><span class="p-column-title">Image</span>
              <img src="data:image/*;base64,{{employee.photo}}" onerror="this.src='../../../assets/img/user.png';" class="shadow-4" style="width: 100px; height: 100px; border-radius:100%" />
            </td>
            <td style="width:10%;">
              <span class="p-column-title">First name</span>
              {{employee.firstName}}
            </td>
            <td style="width:10%;">
              <span class="p-column-title">Last name</span>
              {{employee.lastName}}
            </td>
            <td style="width:10%;">
              <span class="p-column-title">E-mail</span>
              {{employee.user.email}}
            </td>
            <td style="width:10%;">
              <span class="p-column-title">Phone</span>
              {{employee.phone}}
            </td>
            <td style="width:10%;">
              <span class="p-column-title">Experience</span>
              {{employee.experience}}
            </td>
            <td style="width:10%;">
              <span class="p-column-title">Position</span>
              {{employee.position}}
            </td>
            <td style="width:10%;">
              <span class="p-column-title">Pay/H</span>
              {{employee.hourlyPay | number:'0.2'}}
            </td>
            <td style="width:10%;">
              <span class="p-column-title">Work H/week</span>
              {{employee.workDuringWeekInHours}}
            </td>
            <td style="width:10%;">
              <span class="p-column-title">Temporary password</span>
              {{employee.user.tempPassword}}
            </td>
            <td>
                <div>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-success m-1" (click)="editProduct(employee)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-warning m-1" (click)="deleteProduct(employee)"></button>
                </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid" [closable]="false">
          <ng-template pTemplate="content">
            <div class="flex flex-column align-items-center justify-content-center">
            <div class="image-upload border-2 surface-border flex align-items-center justify-content-center container border-round-md myDIV mb-2" [style]="{width: '200px', height: '200px'}">
              <input #fileButton type='file' class="btn" (change)="CreateBase64String($event);" style="display:none;"/>
              <button *ngIf="!cardImageBase64" pButton pRipple icon="pi pi-plus" (click)="fileButton.click()" style="position: absolute;"></button>
              <img id="blah" *ngIf="cardImageBase64" [src]="cardImageBase64" alt="your image" [style]="{width: '196px', height: '196px'}" class="border-round-md"/>
            </div>
            <div class="formgrid grid">
              <div class="field col">
                <label htmlFor="name2">First name</label>
                <input type="text" pInputText id="name" [(ngModel)]="employee.firstName" autofocus/>
              </div>
              <div class="field col">
                <label htmlFor="email2">Last name</label>
                <input type="text" pInputText id="name" [(ngModel)]="employee.lastName" />
              </div>
            </div>
            <div class="pormgrid grid">
              <div class="field col">
                <label htmlFor="name2">E-mail</label>
                <input type="text" pInputText id="name" [(ngModel)]="employee.user!.email" autofocus/>
              </div>
              <div class="field col">
                <label htmlFor="email2">phone number</label>
                <input ype="text" pInputText id="name" [(ngModel)]="employee.phone" />
              </div>
            </div>
            <div class="formgrid grid">
              <div class="field col">
                <label htmlFor="name2">Pay per hour</label>
                <input type="number" pInputText id="name" [(ngModel)]="employee.hourlyPay" autofocus/>
              </div>
              <div class="field col">
                <label htmlFor="email2">work H/week</label>
                <input type="number" pInputText id="name" [(ngModel)]="employee.workDuringWeekInHours" />
              </div>
            </div>
              <div class="field w-full">
                <label htmlFor="name2">experience</label>
                <p-dropdown [options]="experience" [(ngModel)]="employee.experience" [showClear]="true" placeholder="select experience level"></p-dropdown>
              </div>
              <div class="field w-full pb-2">
                <label htmlFor="email2">position</label>
                <p-dropdown [options]="position" [(ngModel)]="employee.position" [showClear]="true" placeholder="select position"></p-dropdown>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span *ngIf="employee">Are you sure you want to delete <b>{{employee.firstName}} </b><b>{{employee.lastName}}</b>?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span>Are you sure you want to delete selected employees?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
          </ng-template>
      </p-dialog>

      <p-dialog [(visible)]="refreshPasswords" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to reset password of selected employees?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="refreshPasswords = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmResetSelected()"></button>
        </ng-template>
    </p-dialog>
  </div>
</div>
